<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- See _data/csp.js for how to add to the CSP.
Update me: Remove comment if you want a CSP.
<meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">
-->
{% if isdevelopment %}
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
{% else %}
<link
    rel="icon"
    href="{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    type="image/png"
/>
{% endif %}

<title>
    {% if site.title == 'blank' %} {% capture title %}{{ site.first_name }} {{
    site.middle_name }} {{ site.last_name }}{% endcapture %} {% else %} {%
    capture title %}{{ site.title }}{% endcapture %} {% endif %} {% if page.url
    == '/blog/index.html' %} {{ page.title }} | {{ title }} {% elsif page.title
    != 'blank' and page.url != '/' %} {% if page.title == null or page.title ==
    '' %} {{ page.date | date: '%Y' }} | {{ title }} {% else %} {{ page.title }}
    | {{ title }} {% endif %} {% else %} {{ title }} {% endif %}
</title>
<meta property="og:title" content="{{ title | escape }}" />

<meta name="theme-color" content="#f9c412" />
<meta
    name="robots"
    content="max-snippet:-1, max-image-preview: large, max-video-preview: -1"
/>

<meta
    name="description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
/>
<meta
    name="og:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
/>

{% if page.keywords or site.keywords %}
<meta
    name="keywords"
    content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}"
/>
{% endif %} {% if image %}
<meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}" />
{% endif %}

<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<!-- This is a blog and so it SHOULD be safe and it is nice for the web
	to send referrers cross-origin.
	However, if you use sensitive data in URLs, consider changing this to
	a value like `origin-when-cross-origin`
	https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
-->
<meta name="referrer" content="no-referrer-when-downgrade" />

<link rel="preconnect" href="/" crossorigin />
<link
    rel="preload"
    href="/assets/fonts/Inter-3.19.var.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<link
    rel="preload"
    href="/assets/fonts/SourceCodePro-VariableFont_wght.woff2"
    as="font"
    type="font/woff2"
    crossorigin
/>
<!--
<script async defer src="{{ "/js/min.js" | addHash }}"
  {% if webvitals %}data-cwv-src="{{ "/js/web-vitals.js" | addHash }}"{% endif %}>
</script>
{% if googleanalytics %}
  <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
{% endif %}
-->

<!-- Notably iOS UAs also contain Mac OS X -->
<script csp-hash>
    if (/Mac OS X/.test(navigator.userAgent))
        document.documentElement.classList.add("apple");
</script>

<!-- font and css -->
<!-- <link rel="stylesheet" type="text/css" href="/css/asciidoctor.css" /> -->
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/asciidoc-pygments.css" />
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Ubuntu+Mono"
/>
