<!doctype html>
<html {% include htmltag.liquid %} >
  <!-- Head -->
  <head>
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body>
    <!-- Header -->
    <header>
      <nav>
        <div id="nav">
          <h1><a href="{{ '/' | url }}" title="Homepage">{{ site.title }}</a></h1>
          {%- for entry in (1..5) %}
            <a href="#">{{ entry }}</a>
          {%- endfor %}
        </div>
        <div id="reading-progress" aria-hidden="true"></div>
      </nav>
      <h1>{{ page.title }}</h1>

<!-- TODO:
      {# block extraArticleHeader #}
-->

      <dialog id="message"></dialog>
      <!--
      {% if googleanalytics %}
      <noscript>
        <img src="/api/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1"
        style="display:none" alt="">
      </noscript>
      {% endif %}
    -->
    </header>

    <!-- Content -->
    <main>
      <article>
        {{ content | safe }}
      </article>
    </main>

    <!-- Footer -->
    <footer>
      <a href="www.hollandgibson.com">Holland Gibson</a>
    </footer>

    <!-- JavaScripts -->
    {% include scripts/mathjax.liquid %}
  </body>
</html>